<!-- defines base layout -->

<!DOCTYPE html>
<html>
  <head>
	<!-- full_title method defined in application_helper.rb, :title passed through on actual page -->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
	<!--inserts the if statement for IE < v.9 using the partial found _shim.erb.html -->
	<%= render 'layouts/shim' %>
  </head>
  <body>
	<!-- inserts the header portion using the partial found _header.erb.html -->
	<%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
	  <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
